.aboutMainCont {
  display: flex;
  /* border: 2px solid blue; */
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  gap: 15%;
  padding-left: 25px;
}

.AmainCont {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.Avatar {
  border-radius: 50%;
  width: 100px;
}

.serviceInfo {
  display: flex;
  gap: 20%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.dis {
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}

/* hide at small screen */

@media (min-width: 290px) and (max-width: 417px) {
  .AmainCont {
    width: 100%;
     /* border: 2px solid rgb(237, 9, 9);   */
  }

  .aboutMainCont {
    display: flex;
    justify-content: space-around;
      /* border: 5px solid rgb(229, 71, 171);   */
  }

  .head {
    text-align: center;
     /* border: 5px solid rgb(224, 235, 16);   */
    width: 200px;
    margin: auto;
  }

  /* .inboxAbout{
    margin: auto;
    border: 5px solid rgb(224, 235, 16);
  } */

}

/* 417-820 */

@media (min-width: 417px) and (max-width: 480px) {
  .slideshow {
    width: 90%;
    /* border: 5px solid rgb(59, 18, 240); */
  }
}

@media (min-width: 417px) and (max-width: 480px) {
  .checkCard {
    /* border: 5px solid rgb(246, 246, 13); */
    width: 0%;
    visibility: hidden;
  }
}

@media (min-width: 480px) and (max-width: 803px) {
  .slideshow {
    width: 90%;
    /* border: 5px solid rgb(59, 18, 240); */
  }
}
@media (min-width: 480px) and (max-width: 803px) {
  .checkCard {
    /* border: 5px solid rgb(246, 246, 13); */
    width: 0%;
    visibility: hidden;
  }
}

/* hide at small screen */

@media (min-width: 290px) and (max-width: 417px) {
  .slideshow {
    margin-left: auto;

    /* border: 5px solid rgb(229, 71, 171); */
    align-items: center;
  }
}

@media (min-width: 290px) and (max-width: 417px) {
  .checkCard {
    /* border: 5px solid rgb(246, 246, 13); */
    width: 0%;
    visibility: hidden;
  }
}
