.nav {
  display: flex;
  width: 100%;
  /* border: 1px solid red;   */
  justify-content: space-between;
}

.sec1 {
  display: flex;
  border: 4px solid rgb(81, 255, 0);
  width: 26%;
  justify-content: space-between;
  justify-items: flex-start;
  color: grey;
  margin-left: 20px;
  margin-top: 5px;
  padding: 10px;
}

.sec2 {
  display: flex;
  /* border: 4px solid rgb(81, 255, 0);  */
  width: 20%;
  justify-content: space-evenly;
  justify-items: flex-start;
  color: grey;
  margin-right: 20px;
}

.menuIcon {
  width: 40px;
  margin-top: 8px;
}

.likeCountDiv {
  display: flex;
  justify-content: space-between;
  /* width: 120px; */
  /* border: 1px solid red;   */
}

.countShowCont {
  width: 60px;
  padding: 5px;
  margin-top: 8px;
}

.likeIcon {
  width: 40px;
  /* margin: auto; */
  margin-top: 4px;
}
.likeIcon:hover {
  color: red;
}

.shareIcon {
  width: 40px;
  margin-top: 8px;
  /* border: 1px solid rgb(12, 205, 57);  */
}
.shareIcon:hover {
  cursor: pointer;
  color: black;
}
