.nav {
  display: flex;
  width: 100%;
 /* border: 1px solid red;   */
  justify-content: space-between;
}

.sec1 {
  display: flex;
    /* border: 4px solid rgb(81, 255, 0);    */
  width: 26%;
  justify-content: space-between;
  justify-items: flex-start;
  color: grey;
  margin-left: 20px;
  margin-top: 5px;
   
   
}

.sec2{
  display: flex;
   /* border: 4px solid rgb(81, 255, 0);  */
  width: 20%;
  justify-content: space-evenly;
  justify-items: flex-start;
  color: grey;
  margin-right: 20px;
}

@media (min-width: 290px) and (max-width: 417px) {
  .nav {
    display: flex;
    width: 100%;
   /* border: 1px solid red;   */
    justify-content: space-between;
  }
  .sec1 {
    width: 270%;
    margin: auto;
    padding: 10px;
      /* border: 10px solid rgb(234, 156, 9);     */
    font-size: small;
  }
}

@media (min-width: 290px) and (max-width: 417px) {
  .sec2 {
    display: none;
    /* visibility: hidden; */
  }
}

/* 417-820 */

@media (min-width: 417px) and (max-width: 480px) {
  .sec1 {
    width: 90%;
     /* border: 5px solid rgb(59, 18, 240);   */
    font-size: small;
  }
}

@media (min-width: 417px) and (max-width: 480px) {
  .sec2 {
    visibility: hidden;
     /* border: 5px solid rgb(11, 176, 222);   */
  }
}

@media (min-width: 480px) and (max-width: 820px) {
  .sec1 {
    width: 50%;
      /* border: 5px solid rgb(59, 18, 240);   */
    font-size: small;
  }
}
@media (min-width: 480px) and (max-width: 820px) {
  .sec2 {
    width: 45%;
    /* border: 5px solid rgb(11, 176, 222);   */
  }
}

/* 820-912 */

@media (min-width: 820px) and (max-width: 912px) {
  .sec1 {
    width: 60%;
      /* border: 5px solid rgb(59, 18, 240);   */
    font-size: large;
    font-weight: 500;
  }
}
@media (min-width: 820px) and (max-width: 912px) {
  .sec2 {
    width: 40%;
    /* border: 5px solid rgb(11, 176, 222);  */
  }
}

.menuIcon {
  width: 40px;
  margin-top: 8px;
}

.likeCountDiv {
  display: flex;
  justify-content: space-between;
  width: 120px;
  /* border: 1px solid red;   */
}

.countShowCont {
  width: 60px;
  padding: 5px;
  margin-top: 8px;
  
}

.likeIcon {
  width: 40px;
  
  margin-top: 4px;
}
.likeIcon:hover {
  color: red;
}

.shareIcon {
  width: 40px;
  margin-top: 8px;
    /* border: 1px solid rgb(12, 205, 57);  */
}
.shareIcon:hover {
  cursor: pointer;
  color: black;
}
