/* slid Show com */

.mainCont {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* width: 100%; */
  border: 2px solid royalblue;
  /* margin-left: -60px; */

  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;

  /* 
  border: 2px solid #6a0dad; */
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;

  /* border: 2px solid #df7708;   */
}

.slide {
  display: inline-block;
  height: 570px;
  width: 100%;
  border-radius: 40px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

/*  slidShow button Buttons */

.slideshowDots {
  text-align: center;
  /* margin-top: 200px; */
  /* border: 2px solid #0bbaf9; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  /* border: 2px solid #8f03f3; */

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

.checkCard {
  width: 30%;
  /* border: 1px solid blue; */
  /* position: z-index */
}

.row {
  text-align: start;
}

.rowThird {
  display: flex;
  gap: 10px;
}

/* hide at small screen */

@media (min-width: 290px) and (max-width: 417px){
  .slideshow {
   margin-left: auto;
    
    border: 5px solid rgb(229, 71, 171);
    align-items: center;
  }
}

@media (min-width: 290px) and (max-width: 417px){
  .checkCard {
    /* border: 5px solid rgb(246, 246, 13); */
    width: 0%;
    visibility: hidden;
  }
}


/* 417-820 */

 
@media (min-width: 417px) and (max-width: 480px){
  .slideshow{
      width: 90%;  
    border: 5px solid rgb(59, 18, 240);
   }
}

@media (min-width: 417px) and (max-width: 480px){
  .checkCard {
    /* border: 5px solid rgb(246, 246, 13); */
    width: 0%;
    visibility: hidden;
  }
}

@media (min-width: 480px) and (max-width: 803px){
  .slideshow{
    width: 90%;  
  border: 5px solid rgb(59, 18, 240);
 }
}
@media (min-width: 480px) and (max-width: 803px){
  .checkCard {
    /* border: 5px solid rgb(246, 246, 13); */
    width: 0%;
    visibility: hidden;
  }
}

/* 820-912 */

/* @media (min-width: 820px) and (max-width: 912px){
  .sec1 {
      width: 60%;  
    border: 5px solid rgb(59, 18, 240);
    font-size: large;  
    font-weight: 500;
     
 }
}
@media (min-width: 820px) and (max-width: 912px){
  .sec2 {
    width: 40%;
     
    border: 5px solid rgb(11, 176, 222);
  }
}   */
